<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/meta')%>
    <title>Project1</title>
</head>
<body>
    <section>
        <form class="bg-gray-100 w-80 m-auto mt-[5rem] p-3" action="/" method="post">
            <div>

                <input type="text" name="name" class="bg-gray-500 text-white font-extrabold mt-3 rounded p-1 w-full" autocomplete="off" required>
            </div>
            <div>

                <input type="text" name="email" class="bg-gray-500 text-white font-extrabold mt-3 rounded p-1 w-full" autocomplete="off" required>
            </div>
            <div>

                <input type="text" name="phone" class="bg-gray-500 text-white font-extrabold mt-3 rounded p-1 w-full" autocomplete="off" required>
            </div>
            <div>

                <input type="text" name="password" class="bg-gray-500 text-white font-extrabold mt-3 rounded p-1 w-full" autocomplete="off" required>
            </div>
            <button class="bg-red-400 rounded p-1 font-extrabold text-white mt-3 w-full" type="submit">Submit</button>
        </form>
    </section>
</body>
</gray